{% for minion in groups['deploy'] %}
Host {{ hostvars[minion]['ansible_hostname'] }}
  Hostname {{ hostvars[minion]['ansible_hostname'] }}
  User ceph-worker
  IdentityFile ~/.ssh/id_rsa
{% endfor %}

{% for minion in groups['clients'] %}
Host {{ hostvars[minion]['ansible_hostname'] }}
  Hostname {{ hostvars[minion]['ansible_hostname'] }}
  User ceph-client
  IdentityFile ~/.ssh/id_rsa
{% endfor %}
